.skills-container {
    text-align: center;
    padding: 10px;
    background-color: rgb(214, 214, 214);
  }
  
  #my-skills {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Logos */
  .row1 img,
  .row2 img  {
    max-width: 100%; /* Ensure the logos scale down proportionally */
    height: auto; /* Maintain the aspect ratio */
    margin: 5px;
    transition: transform 0.2s; /* Add some spacing between logos */
  }

  .row1 img:hover,
  .row2 img:hover {
    transform: scale(1.1);
  }
  
  /* Small screens (phones) */
  @media (max-width: 767px) {
    .row1 img,
    .row2 img  {
      max-width: 20%;
      height: auto; /* Reduce the logo size for small screens */
    }
  }
  
  /* Medium screens (tablets) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .row1 img, 
    .row2 img {
      max-width: 10%;
      height: auto; /* Adjust the logo size for medium screens */
    }
  }
  
  /* Large screens (desktops) */
  @media (min-width: 1024px) {
    .row1 img,
    .row2 img {
      max-width: 10%;
      height: auto; /* Use full width for large screens */
    }
  }
  