.skills-container {
    text-align: center;
    padding: 10px;
    background-color: rgb(214, 214, 214);
  }
  
  #my-skills {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .row1 img,
  .row2 img  {
    max-width: 100%; 
    height: auto; 
    margin: 5px;
    transition: transform 0.2s; 
  }

  .row1 img:hover,
  .row2 img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 767px) {
    .row1 img,
    .row2 img  {
      max-width: 20%;
      height: auto; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .row1 img, 
    .row2 img {
      max-width: 10%;
      height: auto; 
    }
  }
  
  
  @media (min-width: 1024px) {
    .row1 img,
    .row2 img {
      max-width: 10%;
      height: auto; 
    }
  }
  